<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>

        <!-- Configuración de la conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/empleadosBD</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- Dialecto MySQL para Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Mostrar las consultas SQL en consola (útil para depuración) -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Actualizar automáticamente las tablas de la base de datos según las entidades definidas -->
        <property name="hibernate.hbm2ddl.auto">update</property>

		<mapping resource="Empleado.hbm.xml"/>		
		<mapping class="es.nebrija.actividadEmpleados.entidades.Usuario"/>
    </session-factory>
</hibernate-configuration>